* {
    box-sizing: border-box;
    margin: 0; 
    padding:0;
}

body {
    --sb-track-color: #696d7d;
    --sb-thumb-color: #79aea2;
    --sb-size: 14px;
}
  
body::-webkit-scrollbar {
    width: var(--sb-size)
}
  
body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 9px;
    border: 1px solid #b1740f;
}

body::-webkit-scrollbar-thumb:hover {
    background: #8bbeb2;
    border-color: #bd7e17;
}
  
@supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */

header {
    background-color: rgb(8, 8, 161);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    width: 350px;
    height: auto;
}

/* main */

main {
    flex: 1; 
    padding: 50px 80px 50px 80px;
    margin: 0 auto;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: fit-content;
    border-radius: 8px 8px 0 0;
    display: flex;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
    font-weight: bold;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 0 8px 8px 8px;
    max-width: 1300px;
}

/* Wenn der Tab aktiv ist, ändern wir auf flex mit Abständen */
.tabcontent.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tabcontent img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px 5px;
    transition: transform 0.2s ease-in-out;
}

.tabcontent img:hover {
    transform: scale(1.11);
    cursor: pointer;
}

/* footer */

footer {
    margin-top: auto;
    background-color: rgb(8, 8, 161);
    display: flex;
    min-height: 80px;
    justify-content: center;
}

.footer-container {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px;
}

.footer-left {
    display: flex;
    justify-content: flex-start;
}

.footer-logo {
    width: 200px;
    height: auto;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.75rem 1rem;
}

.footer-link:hover {
    border: 1px solid white;
    color: rgb(8, 8, 161);
    background-color: white;
}

.overlay {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    position: relative;
    max-width: 90%;
    max-height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(30, 30, 30, 0.7);
    padding: 100px 20px 20px 20px;
    border-radius: 8px;
}

.overlay-header {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 1001;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 48px;
    cursor: pointer;
    padding: 0 8px;
}

.overlay-image {
    max-width: 100%;
    max-height: 75vh;
    object-fit: cover;
    border-radius: 8px;
}

.overlay-navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}

.nav-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 4px;
}

.nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.image-counter {
    color: white;
    font-size: 24px;
}

.d-none {
    display: none;
}

@media (max-width: 1024px) {
    main {
        padding: 50px 30px 50px 30px;
    }
}

@media (max-width: 530px) {
    .header-logo {
        width: 250px;
    }
    main {
        padding: 30px 10px 50px 10px;
    }
    .tab {
        overflow: visible;
    }
    .tabcontent {
        border-radius: 0 8px 8px 8px;
    }
    .tabcontent img {
        width: 100%;
        max-width: 400px;
        height: auto;
        aspect-ratio: 3 / 2;
        object-fit: cover;
        margin: 10px 0px;
    }
    .tabcontent img:hover {
        transform: scale(1.05);
    }
    /* Alle Tabs */
    .tab button {
        position: relative;
        float: none;
        width: 50px;
        height: 50px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* Emoji-Klassen für die Tabs */
    .tab button[onclick*="show-all"]::before {
        content: "🌍";
        font-size: 24px;
    }
    .tab button[onclick*="mammals"]::before {
        content: "🐻";
        font-size: 24px;
    }
    .tab button[onclick*="birds"]::before {
        content: "🦜";
        font-size: 24px;
    }
    .tab button[onclick*="reptiles"]::before {
        content: "🦎";
        font-size: 24px;
    }
    .tab button[onclick*="amphibians"]::before {
        content: "🐸";
        font-size: 24px;
    }
    .tab button:hover::after {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 100%; /* oberhalb vom Button */
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        white-space: nowrap;
        font-size: 16px;
        z-index: 1;
    }
    /* Ausblenden des ursprünglichen Textes */
    .tab button span {
        display: none;
    }
    .footer-container {
        flex-direction: column-reverse;
        padding: 20px 0;
        gap: 20px;
    }
    .footer-right {
        gap: 40px;
    }
    .footer-link {
        font-size: 16px;
        padding: 0.75rem 1rem;
        border: 1px solid transparent;
        border-radius: 5px;
    }
    .footer-link:hover {
        border: 1px solid white;
        color: white;
        background-color: rgb(8, 8, 161);
    }
}

@media (max-width: 375px) {
    main {
        padding: 30px 5px 20px 5px;
    }
    .tab {
        border-radius: 0 8px 8px 0;
        display: flex;
        flex-direction: column;
        z-index: 1;
        position: fixed;
        left: 0;
        overflow: hidden;
    }
    .tab button {
        width: 60px;
        height: 60px;
    }
    .tab button:hover::after {
        content: none;
        display: none;
    }
    .tab button[onclick*="show-all"]::before {
        font-size: 32px;
    }
    .tab button[onclick*="mammals"]::before {
        font-size: 32px;
    }
    .tab button[onclick*="birds"]::before {
        font-size: 32px;
    }
    .tab button[onclick*="reptiles"]::before {
        font-size: 32px;
    }
    .tab button[onclick*="amphibians"]::before {
        font-size: 32px;
    }
    .tabcontent {
        padding: 3px 5px;
    }
    .tabcontent img {
        margin: 5px 0px;
    }
}